<%= turbo_frame_tag @quote do %>
  <%= form_with model: @quote do |form| %>
    <p>
      <%= form.label :content %><br>
      <%= form.text_field :content, autocomplete: 'off' %>
    </p>
    <p>
      <%= form.label :author %><br>
      <%= form.text_field :author, autocomplete: 'off' %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>

  <%= link_to 'Back', :back %>
<% end %>
