<%= turbo_frame_tag @task do %>
  <div class="task-form">
    <%= form_with model: [ @day, @task ],
                  data: { 
                    controller: "task",
                    action: "turbo:submit-end->task#handleSubmit"
                  } do |form| %>
      <%= form.text_field :content, autocomplete: 'off', autofocus: true %>
      <%= form.submit %>
    <% end %>

    <%= link_to 'Back', :back %>
  </div>
<% end %>
