<%= turbo_frame_tag task do %>
  <div>
    <input type="checkbox" <%= "checked" if task.completed %>>
    <% if task.date == Date.today %>
      <%= button_to task.content,
                    day_task_path(task.date, task, task: { completed: !task.completed }),
                    method: :patch %>
    <% else %>
      <%= task.content %>
    <% end %>

    <% if task.future? %>
      <%= button_to 'edit',
                    edit_day_task_path(task.date, task),
                    method: :get %>

      <%= button_to 'delete',
                    day_task_path(task.date, task),
                    form: { data: { turbo_confirm: "Are you sure?" } },
                    method: :delete %>
    <% end %>
  </div>
<% end %>
