<%= turbo_frame_tag "task_habit_#{habit.id}" do %>
  <div class="task-habit <%= day_habit_css_class(habit) if habit.daily_target > 0 %>">
    <% if habit.date < today %>
      <%= bootstrap_icon (habit.quantity >= habit.daily_target ? "check-square-fill" : "x-square-fill") %>
      <%= habit.name %>
      <% if habit.daily_target > 1 %>
        <%= habit.quantity %>/<%= habit.daily_target %>
      <% end %>
    <% elsif habit.date == today %>
      <%= button_to habit_item_path({
                                      habit_id: habit.id,
                                      date: habit.date,
                                      type: (habit.quantity >= habit.daily_target ? 'decrement' : 'increment'),
                                      view: 'day'
                                    }), method: :patch do %>
        <%= bootstrap_icon (habit.quantity >= habit.daily_target ? "check-square-fill" : "square") %>
        <%= habit.name %>
        <% if habit.daily_target > 1 %>
          <%= habit.quantity %>/<%= habit.daily_target %>
          <% if habit.quantity > 0 && habit.quantity < habit.daily_target %>
            <span class="progress" style="height: <%= 14 * (habit.quantity / habit.daily_target.to_f ) %>px"></span>
          <% end %>
        <% end %>
      <% end %>
    <% elsif habit.date >= Date.tomorrow %>
      <%= habit.name %>
    <% end %>
  </div>
<% end %>
