<%= turbo_frame_tag "task_habit_#{habit.id}" do %>
  <div class="task-habit <%= day_habit_css_class(habit) if habit.daily_target > 0 %>">
    <% if habit.daily_target > 0 %>
      <%= habit.name %>
      <%= habit.quantity %>
      /<%= habit.daily_target %>
    <% else %>
      <%= habit.name %> - <%= habit.quantity %>
    <% end %>

    <% if habit.item_id %>
      <%= button_to habit_item_path(habit.item_id,
                    habit_item: { quantity: habit.quantity + 1 }),
                    method: :patch do %>
        <%= bootstrap_icon "plus-square" %>
      <% end %>

      <% if habit.quantity > 0 %>
        <%= button_to habit_item_path(habit.item_id,
                    habit_item: { quantity: habit.quantity - 1 }),
                    method: :patch do %>
          <%= bootstrap_icon "dash-square" %>
        <% end %>
      <% end %>
    <% else %>
      <%= button_to habit_items_path(habit_item: { quantity: 1, habit_id: habit.id, date: today }), method: :create do %>
        <%= bootstrap_icon "plus-square" %>
      <% end %>
    <% end %>
  </div>
<% end %>
