<%= turbo_frame_tag "habit_item_#{habit.id}" do %>
  <div class="day-habit <%= day_habit_css_class(habit) if habit.daily_target > 0 %>">
    <% if habit.daily_target > 0 %>
      <%= habit.name %>
      <%= habit.quantity %>
      /<%= habit.daily_target %>
    <% else %>
      <%= habit.name %> - <%= habit.quantity %>
    <% end %>
    <%= button_to '+', habit_item_path(habit.id, habit_item: { quantity: habit.quantity + 1 }), method: :patch %>
    <%= button_to '-', habit_item_path(habit.id, habit_item: { quantity: habit.quantity - 1 }), method: :patch %>
  </div>
<% end %>
