<%= turbo_frame_tag "task_habit_#{habit.id}" do %>
  <div class="task task-habit <%= day_habit_css_class(habit) if habit.daily_target > 0 %><%= ' inactive' if habit.date != today %>">
    <%= button_to habit_item_path({
                                    habit_id: habit.id,
                                    date: habit.date,
                                    type: (habit.quantity >= habit.daily_target ? 'decrement' : 'increment'),
                                    view: 'day'
                                  }),
                                  class: "task__content",
                                  disabled: habit.date != today,
                                  method: :patch do %>
      <%= bootstrap_icon (habit.date < today ? "x-square-fill" : habit.quantity >= habit.daily_target ? "check-square-fill" : "square") %>
      <%= habit.name %>

      <% if habit.daily_target > 1 %>
        <%= habit.quantity %>/<%= habit.daily_target %>
        <% if habit.quantity > 0 && habit.quantity < habit.daily_target %>
          <span class="progress" style="height: <%= 16 * (habit.quantity / habit.daily_target.to_f ) %>px"></span>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
