<%= turbo_frame_tag "#{@day.date}-summary" do %>
  <%= form_with model: @day do |form| %>
    <div class="field">
      <%= form.rich_text_area :summary %>
      <%= form.submit %>
    </div>
  <% end %>
  <%= link_to 'Back', :back %>
<% end %>
