<h1>
  <%= @day.date %>
</h1>

tasks <%= @day.total_tasks %>
<br>
completed <%= @day.completed_tasks %>
<br>

<% if @overdue_tasks.any? %>
  <p>overdue tasks</p>
  <div>
    <%= render @overdue_tasks %>
  </div>
<% end %>

<br>
<%= turbo_frame_tag @tasks do %>
  <%= render @tasks %>
<% end %>

<br>
<%= turbo_frame_tag Task.new do %>
  <%= link_to "New task", new_day_task_path(@day.id) %>
<% end %>
