<h1>
  <%= day_title @day.date %>

  <% if @day.date <= Date.today && (@day.total_tasks + @habits.size ) > 0 %>
    <span>
      <%= day_completion(@day.total_tasks, @day.completed_tasks, @total_habits, @completed_habits ) %>%
    </span>
  <% end %>
</h1>

<% if @overdue_tasks %>
  <div>
    <%= render partial: 'tasks/task_overdue', collection: @overdue_tasks, as: :task %>
  </div>
<% end %>

<%= turbo_frame_tag @tasks do %>
  <% @tasks.each do |task| %>
    <%= render task, view_date: @day.date %>
  <% end %>
<% end %>

<% if @habits.any? %>
  <% @habits.each do |habit| %>
    <%= habit.name %>

    <% if habit.daily_target > 0 %>
      <%= habit.quantity %>/<%= habit.daily_target %>
    <% end %>

    <br>
  <% end %>
<% end %>
<br>

<% if @day.date >= Date.today %>
  <%= turbo_frame_tag Task.new do %>
    <%= link_to "Add new task", new_day_task_path(@day) %>
  <% end %>
<% end %>
