<h1>
  <%= @day.date %>
</h1>

<div>
  total tasks = <%= @day.total_tasks %>
  <br>
  completed tasks = <%= @day.completed_tasks %>
</div>

<nav>
  <%= link_to 'prev day', day_path(@day.date - 1.day) %>
  <%= link_to 'next day', day_path(@day.date + 1.day) %>
</nav>

<% if @day.total_tasks == 0 %>
  empty state
<% end %>

<% if @day.date <= Date.today && @day.total_tasks > 0 %>
  <%= @day.completion %>
  <br>
<% end %>

<% if @overdue_tasks && @overdue_tasks.any? %>
  <div class="red">
    <p>reschedule</p>
    <div>
      <% @overdue_tasks.each do |task| %>
        <%= render task, view_date: @day.date %>
      <% end %>
    </div>
  </div>
<% end %>

<br>
<%= turbo_frame_tag @tasks do %>
  <% @tasks.each do |task| %>
    <%= render task, view_date: @day.date %>
  <% end %>
<% end %>

<br>

<% if @day.date >= Date.today %>
  <%= turbo_frame_tag Task.new do %>
    <%= link_to "New task", new_day_task_path(@day.id) %>
  <% end %>
<% end %>
