<div class="day">
  <div class="day__links">
    <%= link_to '<', day_path(@day.id - 1) %>
    <%= link_to '>', day_path(@day.id + 1) %>
  </div>

  <h1>
    <%= day_title @day.date %>

    <%= turbo_frame_tag "#{today}-percentage" do %>
      <% if @day.date <= today && (@day.total_tasks + @habits.size ) > 0 %>
        <%= day_percentage %>
      <% end %>
    <% end %>
  </h1>

  <% if @overdue_tasks && @overdue_tasks.any? %>
    <div>
      <h2>Overdue tasks</h2>
      <%= render partial: 'tasks/task_overdue', collection: @overdue_tasks, as: :task %>
    </div>
  <% end %>

  <%= turbo_frame_tag 'tasks' do %>
    <% if @tasks.any? %>
      <h2>Tasks</h2>

      <%= render @tasks %>
    <% end %>
  <% end %>

  <% if @habits.any? %>
    <h2>Habits</h2>

    <%= render partial: 'habit_task', collection: @habits, as: :habit %>
  <% end %>

  <% if @monitored.any? %>
    <h2>Monitored</h2>

    <%= render partial: 'habit_task', collection: @monitored, as: :habit %>
  <% end %>

  <% if @day.date >= today %>
    <%= turbo_frame_tag Task.new do %>
      <%= link_to "Add new task", new_day_task_path(@day) %>
    <% end %>
  <% end %>
  <br>
  <br>
  <p>habit are not displayed correctly on day view</p>
  <br>

  <%= turbo_frame_tag "#{@day.date}-summary" do %>
    <h2>Summary</h2>
    <%= @day.summary %>
    <%= link_to 'edit summary', edit_day_path(@day.date) %>
  <% end %>
</div>
