<nav id="menu" class="menu">
  <button class="menu-btn"
          data-controller="base"
          data-action="click->base#toggleMenu">
    <%= bootstrap_icon "menu-button-wide", color: "white" %>
  </button>
  <ul>
    <li>
      <%= link_to "Today", today_path %>
    </li>
    <li>
      <%= link_to "Upcoming", tasks_path %>
    </li>
    <li>
      <%= link_to "Habits", habits_path %>
    </li>
    <li>
      <%= link_to "Notes", notes_path %>
    </li>
    <li>
      <%= link_to "Quotes", quotes_path %>
    </li>
  </ul>
  <button class="theme-btn"
          data-controller="base"
          data-action="click->base#toggleTheme">
    Toggle theme
  </button>
</nav>
