<table>
  <tr>
    <th>habit</th>
    <% @dates.each do |date| %>
      <th>
        <%= date.day %>
      </th>
    <% end %>
  </tr>

  <%= turbo_frame_tag @habits do %>
    <%= render @habits %>
  <% end %>

  <% if false %>
    <tr>
      <td>days</td>
      <% @days.each_with_index do |day, index| %>
        <td><%= day_completion(day.total_tasks,day.completed_tasks) %></td>
      <% end %>
    </tr>
  <% end %>

  <tr>
    <td>day %</td>
    <% @days.each_with_index do |day, index| %>
      <td>
        <%= day_completion(day.total_tasks,day.completed_tasks, @days_habits[index][:total], @days_habits[index][:completed]) %>%
      </td>
    <% end %>
  </tr>
</table>
<br>
<%= turbo_frame_tag Habit.new do %>
  <%= link_to "New habit", new_habit_path %>
<% end %>
