<!DOCTYPE html>
<html>
  <head>
    <title>MonitoringApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta name="theme-color" content="#0000ff" >
  </head>

  <body class="<%= 'dark' if DateTime.now.seconds_until_end_of_day < 18000 %>">
    <%= render "flash" %>
    <%= render "menu" %>
    <%= yield %>
  </body>
</html>
